/* Foundation includes */
@import "settings";
@import "normalize";
@import "foundation";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

$footer-height: 7em;
$background-color: #ffffff;
$button-color: #cfcdd0;

@mixin default-attr {
  border: none;
  background-color: $background-color;
}

@mixin link-theme {
  color: #8f8d8f;
  &:hover { color: #3d0000; }
}

html, body {
  @include default-attr;
  font-family: 'Merriweather Sans', sans-serif;
  height: 100% !important;
}

a { @include link-theme; }

#header {
  margin-top: 30px;
}

h2 { font-family: 'Source Code Pro', sans-serif; }

input { text-align: center; }

form > input { text-align: left; }

.breadcrumbs {
  @include default-attr;
  background-color: #383838;
  a {
    color: #eff3ff;
    &:hover { color: #e76c6e; }
  }
}

.close-button {
  @include button;
  background-color: $button-color;
  border: none;
  &:hover {
    color: #8b898f;
    background-color: #d9d7da;
  }
}

.panel {
  @include default-attr;
  input {
    color: #3d0000;
  }
}

#wrap {
  height: 100%;
  margin: 0 auto ($footer-height * -1);
}
#wrap > *:last-child { padding-bottom: $footer-height; }

#head {
  padding-top: 9px;
  padding-right: 9px;
  padding-left: 3px;
  background-color: #383838;
}

#footer {
  height: $footer-height;
  margin-bottom: 0;
}

