<div class="row">
    <div class="panel" id="footer">
        <hr>
        <div class="right inline">
            <small>SF &copy 2013</small>
        </div>
        <div class="left inline">
        </div>
    </div>
</div>