<div class="row" ng-repeat="task in tasks">
    <div class="large-3 columns">
        <label class="left inline">
            <button class="close-button small" ng-click="removeTask($index)">&#10006</button>
            &nbsp;&nbsp;&nbsp;{{task.name}}
        </label>
    </div>
    <div class="large-1 columns">
        <input type="number" ng-model="task.optimistic" ng-change="change()" placeholder="O"/>
    </div>

    <div class="large-1 columns">
        <input type="number" ng-model="task.nominal" ng-change="change()" placeholder="N">
    </div>
    <div class="large-1 columns">
        <input type="number" ng-model="task.pessimistic" ng-change="change()" placeholder="P">
    </div>


    <div class="large-3 columns">
        <div class="row collapse">
            <div class="small-4 columns">
                <input type="number" value="{{task.total|number:2}}" readonly>
            </div>
            <div class="small-8 columns">
                <span class="postfix radius">Duration</span>
            </div>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="row collapse">
            <div class="small-4 columns">
                <input type="number" value="{{task.uncertainty|number:2}}" readonly>
            </div>
            <div class="small-8 columns">
                <span class="postfix radius">Uncertainty</span>
            </div>
        </div>
    </div>
</div>
<!-- end repeat -->
<div class="row" ng-show="tasksExist()">
    <hr>

    <div class="large-12 columns">
        <p>Sum of tasks</p>
    </div>
    <div class="large-4 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix radius">Duration</span>
            </div>
            <div class="small-4 columns">
                <input type="number" value="{{totalDuration|number:2}}" readonly>
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix radius">Uncertainty</span>
            </div>
            <div class="small-4 columns">
                <input type="number" value="{{totalUncertainty|number:2}}" readonly>
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="row collapse">
            <div class="small-8 columns">
                <span class="prefix radius">Estimate</span>
            </div>
            <div class="small-4 columns">
                <input type="number" value="{{ 2*totalUncertainty + totalDuration|number:2}}" readonly>
            </div>
        </div>
    </div>

</div>
