<p><b>PERT</b> is a very simple way to convert estimates into probability distributions.
    <br>When you estimate a task you simply provide 3 parameters:
    <br><b>O</b> - Optimistic estimate: a wildly optimistic estimate - everything goes to the plan. For the
    math to work this will have less than 1% chance of occurrence.
    <br><b>N</b> - Nominal estimate: The estimate that is most likely to be correct.
    <br><b>P</b> - Pessimistic estimate: a wildly pessimistic estimate which "includes everything except for
    hurricanes, nuclear war and stray black holes". For the math to work this will have less than 1% chance
    of occurrence.
    <br><br>The expected duration of the task (&mu;) can then be calculated as follows
    <br><br>&mu; = (O + 4N + P) / 6
    <br><br>The uncertainty (&sigma;) can of this can then be determined by calculating the standard deviation
    of the probability distribution
    <br><br>&sigma; = (P - O) / 6
    <br><br>The total will then be
    <br><br>total duration = &mu; + &sigma;
    <br><br>It is also common to multiply sigma by 2, such that
    <br><br>total duration = &mu; + 2&sigma;
</p>