<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>PERT Calculator</title>
    <link rel="stylesheet" href="stylesheets/app.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body ng-app="PertCalc">

<div id="wrap" ng-controller="Calculator" ng-cloak>

    <div class="row">
        <div id="head" class="row">
            <div class="left inline">
                <!-- NAVIGATION -->
                <nav class="breadcrumbs right">
                    <a href="#" data-reveal-id="tutorialModal">TUTORIAL</a>
                    <a href="#">SAVE</a>
                    <a href="#" ng-click="removeAllTasks()">RESET</a>
                </nav>
            </div>
            <div class="right inline">
                <google-signin></google-signin>
            </div>
        </div>

        <header id="header">
            <h2>Task Estimator</h2>
            <p>A Simple Program, Evaluation, and Review Technique (PERT) Calculator.</p>
        </header>

        <form ng-submit="addTask()">
            <input type="text" ng-model="taskName" size="30" placeholder="add new task..."
                   ng-submit="tasks.push({})">
        </form>

        <task-area></task-area>

        <div id="tutorialModal" class="reveal-modal">
            <pert-tutorial></pert-tutorial>
            <a class="close-reveal-modal">&#215;</a>
        </div>

    </div>
</div>

<footer>
    <custom-footer></custom-footer>
</footer>

<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
            '.js><\/script>')
</script>
<script src="javascripts/angular/angular.js"></script>
<script src="javascripts/app/app.js"></script>
<script src="javascripts/app/controller.js"></script>
<script src="javascripts/app/directives.js"></script>
<script src="javascripts/vendor/custom.modernizr.js"></script>
<script src="javascripts/foundation/foundation.js"></script>
<script src="javascripts/foundation/foundation.reveal.js"></script>
<script src="javascripts/foundation/foundation.alerts.js"></script>
<script src="javascripts/foundation/foundation.clearing.js"></script>
<script src="javascripts/foundation/foundation.cookie.js"></script>
<script src="javascripts/foundation/foundation.dropdown.js"></script>
<script src="javascripts/foundation/foundation.forms.js"></script>
<script src="javascripts/foundation/foundation.joyride.js"></script>
<script src="javascripts/foundation/foundation.magellan.js"></script>
<script src="javascripts/foundation/foundation.orbit.js"></script>
<script src="javascripts/foundation/foundation.placeholder.js"></script>
<script src="javascripts/foundation/foundation.section.js"></script>
<script src="javascripts/foundation/foundation.tooltips.js"></script>
<script src="javascripts/foundation/foundation.topbar.js"></script>
<script>
    $(document).foundation();
</script>
<!-- Place this asynchronous JavaScript just before your </body> tag -->
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript">
    function disconnectUser(access_token) {
        var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
                access_token;

        // Perform an asynchronous GET request.
        $.ajax({
            type: 'GET',
            url: revokeUrl,
            async: false,
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(nullResponse) {
                // Do something now that user is disconnected
                // The response is always undefined.
            },
            error: function(e) {
                // Handle the error
                // console.log(e);
                // You could point users to manually disconnect if unsuccessful
                // https://plus.google.com/apps
            }
        });
    }
    // Could trigger the disconnect on a button click
    $('#revokeButton').click(disconnectUser);
</script>

</body>
</html>
